
@{
    ViewData["Title"] = "NewObjectFailed";
}

<h1 class="center-align" id="NewObjectFailed">Proszę podać wartość przedmiotu w postaci numerycznej. Cena musi być większa od 1 oraz jej długość nie może przekraczać 17 znaków.</h1>

